@charset "utf-8";
@import "variables.scss";

// Classes to fix up the dice background
.diceDisplayLeft {
    position: absolute;
    width: 114.75px;
    height: 114.75px;
    left: 1805.78px;
    top: 232.78px;
    
    color: #0FA958;
    border-radius: 11.7093px;
    transform: rotate(-174deg);
    font-size: 5.5em;

    position: absolute;
    width: 84.31px;
    height: 84.31px;
    left: 5.57px;
    top: 700.39px;
    z-index: -1;

    transform: rotate(-174deg);
 }

 .diceDisplayRight {
    position: absolute;
    width: 114.75px;
    height: 114.75px;
    left: 1805.78px;
    top: 232.78px;
    
    color: #0FA958;
    border-radius: 11.7093px;
    transform: rotate(-174deg);
    font-size: 5.5em;

    position: absolute;
    width: 84.31px;
    height: 84.31px;
    left: 1000px;
    top: 720.39px;
    z-index: -1;

    transform: rotate(-174deg);
 }
//-----------------------------------
// ID selectors for dice background
//-----------------------------------
#five {
    color:#699BF7;
    transform: rotate(-325deg);
    transform: translateX(-70%);
 }
 #four {
    color:#C7B9FF;
    position: relative;
    left: -1004px;
    top: 200px;
    transform: rotate(-221deg);
 }
 #three {
    color:#FFC700;
    position: relative;
    left: 40px;
    bottom: 15px;
    transform: rotate(275deg);
 }
 #two {
    color:#FF8577;
    position: relative;
    left: 50px;
    top: 80px;
    transform: rotate(251deg);
 }
 #one {
    color:#fff;
    position: absolute;
    left: 70px;
    top: 625px;
    transform: rotate(301deg);
 }
 #oneRight {
    color:#fff;
    position: absolute;
    top: 600px;
    transform: rotate(301deg);
 }
