@charset "utf-8";

// Variables

// Font Families
$fontHeader: 'Open Sans', Helvetica, sans-serif;
$fontFooter: 'Open Sans', Helvetica, sans-serif;
$fontBody: 'Ubuntu', Baskerville, sans-serif;

// Colours
$main-bg: #212936;
$nav-bg-color: #FFC700;
$section-bg-color: #FF8577;
$section-comp-bg-color: #C7B9FF;
$font-color: #000;
$nav-font-color: #000;
$transparent-bg: rgba(0,0,0,.2);
$box-bg-color: #00C7BE;
$nav-border: 1px solid #273043;
$footer-bg-color: #FFC700;
$score-box-color: #FFC700;